.chosen-rating {
    display: flex;
    font-size: 26px;
    justify-content: center;
    width: 100%;
    margin: 0;

}


.rating-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    /* border: solid 2px blue; */
    align-items: center;
    margin-top: -5px;
}


.light-gavels-container {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 210px;
    align-items: center;
    transition: color .2s, transform .2s;
    margin-right: 16px;
    margin-left: 16px;
    position: relative;
    /* overflow-x: hidden; */
}


p {
    margin:0;
    padding: 0;
    font-size: 13px;
}

.gavel-light {
    height: 44px;
    width: 44px;
    align-items: center;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-right: -1;
    margin-left: -1;
    position: relative;
    /* transform:translateX(45%); */
    /* display: none; */
}

.gavel-dark {
    /* display: flex; */
    height: 74px;
    width: 74px;
    padding-right: -16px;
    padding-left: -16px;
    margin-left:-16px;
    margin-right:-16px;
    /* display: none; */
    /* clip-path:inset(0% 0% 0% 45%);*/
    /* clip-path:polygon(0 0, 68% 0, 26% 75%, 80% 90%, 14% 100%);  */
    /* clip-path:polygon(68% 0%, 60% 20%, 100% 70%, 0% 100%, 0% 0%);  */
    clip-path:polygon(0 0, 69% 0, 34% 61%, 69% 78%, 0 78%, 0 50%);
}


.gavel-1 {
    background-color: lightblue;
}

.dark-gavels-container {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 210px;
    align-items: center;
    /* transition: color .2s, transform .2s; */
    margin-right: 16px;
    margin-left: 16px;
    position: relative;
    margin-left: -226px;
}

    /* align-items: center;
    padding-bottom: 1px;
    padding-top: 1px;
    position: absolute;
    top: -13px;
    left: -19px; */ 
    /* display: none; */


/* .row-dark {
    height: 74px;
    width: 74px;
    align-items: center;
    position: relative;
    
} */

/* .gavel-dark:hover {
    transform: scale(1.2);
} */
 /* .gavel-light:hover {
    transform: scale(2);
 } */
   


/* .gavel:hover ~ {
    transform: scale(1.2);
} */


   
    /* position: absolute; */
    /* clip-path: rect(42px, 42px, 42px, 42px);
     */
