
.gavels-container {
    border: solid 1px red;
    display: inline-block;
    margin: 0;
    padding: 0;
  
 
    cursor: pointer;
    transition: color .2s, transform .2s;


}
.gavel-light {
    width: .8rem;
    padding:0;
    filter:invert(100%);
    background-color: white;
}

.gavels-container .gavel-light:hover {

    transform: scale(1.3);
}