.review-container {
    display: flex;
    justify-self: center;
    flex-direction: column;
    /* min-height: auto; */
    height: 100%;
    width: 420px;
    outline: solid 10px  #0A9396;
    padding-top: 10px;
    align-content: center;
    align-items: center;
    border-radius: .5rem;
    background-color: #6d676f;
    z-index: 100;
    position: fixed;
    margin-top: -5rem;
    overflow-y: auto;

}

.review-title {
    background-color: #0A9396;
    border-radius: 10px;
    display: flex;
    width: 80%;
    justify-content: center;
    text-justify: center;
    align-content: center;
    align-self: center;
    margin-top: 10px;
    padding: 6px;
    font-size: minmax(1.8rem, 2rem);
    color: white;
    font-weight:400;
}

.your-opinion {
    display: flex;
    width: 80%;
    color:hwb(12 96% 2%);
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: -2px;
    justify-content: center;
    align-self: center;
}

.gavel-box {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
}

.review-form {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-top: 0px;
    height: auto;
    align-self: center;
}

.name {
    width: 60%;
    margin-bottom: 16px;
    border: solid black 2px;
}

.comments{
    border: solid black 2px;
    width:98%;
    margin-bottom: 16px;
}

.publish-button {
    width: 56%;
  
    height: 40px;
    align-self: center;
    margin-left: 22%;
}

.publish-button:hover {
    background-color:  #0A9396;
    width: 56%;
  
    height: 40px;
    color: white;
    margin-left: 22%;
}

.reset-button {
    width: 34%;
  
    margin-left: 33%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.reset-button:hover {
    background-color:  #0A9396;
    width: 34%;
 
  
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
    margin-left: 33%;
}



.reviewer-list {
    width: 100%;
    border: solid black 2px;
}







/* .rating-box {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;

    flex-direction: column;
} */

/* .reviewer-name {
    margin-bottom: 16px;
}
.reviewer-comment {
    height: 70px;
    display: flex;
} */



/* .submit-button {
    margin-top: 20px;
} */

/* 
 Y overflow

    justify-items: center;
    padding: 15px;

 */