
#header {
    height: 120px;
    width: 100vw;
    background-color: #534c4b;
    color:  #0A9396;
    padding: .5rem;
    align-content: center;
    display: grid;
}

.header-box {
  height: 100%;
  display: grid;
  background-color: white;
  border-radius: .5rem;
  opacity: 0.7;
  width: 90%; 
  align-self: center;
  justify-self: center;
  padding: .5rem;
  
}
    /* display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center; */


#page-title {
  display: grid;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  /* font-family: "Gagalin-Regular"; */
}

