
#header {
    height: 120px;
    width: 100%;
    background-color: #534c4b;
    color:  #0A9396;

    align-content: center;
    display: grid;
}

.header-box {
  height: 100%;
  display: grid;
  background-color: white;
  /* border-radius: .5rem; */
  opacity: 0.75;
  width: 100vw; 
  align-self: center;
  justify-self: center;
  padding: .5rem;
  /* margin-left: -5rem;
  margin-right: -5rem; */
}
    /* display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center; */


#page-title {
  display: grid;
  align-self: center;
  justify-self: center;
  font-size: 3rem;

}

